package pages

import "github.com/sakithb/hcblk-server/internal/templates/shared"
import "github.com/sakithb/hcblk-server/internal/models"

templ Profile(u *models.User) {
	@shared.Page() {
		<div class="py-8 w-[60vw] mx-auto h-full">
		</div>
	}
}
