package shared

import "github.com/sakithb/hcblk-server/internal/templates/components"

templ Page() {
	@Base() {
		@components.Header()
		<main class="grow">{children...}</main>
		@components.Footer()
	}
}
