package components

templ Footer() {
	<footer class="flex flex-col-reverse md:flex-row md:gap-3 items-center md:items-start md:text-md bg-neutral-200 p-2 md:p-4">
		<div class="md:mr-auto">Copyright 2024 by hcb.lk</div>
		<a class="underline" href="/legal/tos">Terms and Services</a>
		<a class="underline" href="/legal/privacy">Privacy Policy</a>
	</footer>
}
