package components

templ Footer() {
	<footer class="flex gap-3 text-md bg-gray-200 p-4">
		<div class="mr-auto">Copyright 2024 by hcb.lk</div>
		<a class="underline" href="/legal/tos">Terms and Services</a>
		<a class="underline" href="/legal/privacy">Privacy Policy</a>
	</footer>
}
